* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Lato', sans-serif; 
    line-height: 1.5;
}

body {
    background-color: #1E90FF; 
    font-size: 16px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label{
    display: block;
}

#definition{
    width: 250px;
}